useDynLib("DatabionicSwarm", .registration = TRUE)


export(DBSclustering)
export(Delaunay4Points)
export(GeneratePswarmVisualization)
export(ProjectedPoints2Grid)
export(Pswarm)
export(sESOM4BMUs)
export(setGridSize)
export(ShortestGraphPathsC)
export(DijkstraSSSP)
export(RelativeDifference)
export(RobustNorm_BackTrafo)
export(RobustNormalization)
export(UniquePoints)

import(Rcpp)
importFrom(RcppParallel,RcppParallelLibs,defaultNumThreads,setThreadOptions)

importFrom("deldir","deldir")
importFrom("stats", "hclust","cutree","as.dendrogram","dist", "quantile", "runif", "as.dist", "median", "order.dendrogram", "lm")
importFrom("graphics", "axis", "box", "par", "plot.new", "points", "title", "plot")
importFrom("utils", "tail","getSrcDirectory", "head", "packageVersion", "setTxtProgressBar", "txtProgressBar")
importFrom("GeneralizedUmatrix","plotTopographicMap","TopviewTopographicMap")
importFrom("grDevices", "contourLines")




